*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 100%;
    background: rgb(0, 0, 26);
    color: #fff;
    line-height: 50px;
}
.contactme{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.con{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}