.gamePlayMain {
  width: 100%;
  height: 100vh;
  /* background: red; */
  display: flex;
  flex-direction: column;
}
.gamePlayTop {
  width: 100%;
  height: 30vh;
  /* background: green; */
  display: flex;
  flex-direction: row;
}

.gamePlayBotom {
  width: 100%;
  height: 80vh;
  /* background: blue; */
  display: flex;
  justify-content: center;
}
